.search-bar{
    width: 10rem;
    height: 5.25rem;
    flex-grow: 1;
    display: flex;
}

.search-bar__input{
    background-color: #5360CD;
    flex-grow: 1;
    padding: 2rem;
    font-size: 1rem;
    outline: none;
    border: none;
    color:#fff;
}

.search-bar__input::placeholder{
    color:#fff;
    opacity: 0.5;
}
    .search-bar__input:focus::placeholder{
    color: #fff;
}

.search-bar__submit{
    width: 5.25rem;
    height: 5.25rem;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
   
}
.search-bar__submit:focus{
    background-color: #5360CD;
}

.search-bar__submit-wrapper{
    position: relative;
    background-color: #2231AA;
    border-right: 1px solid #5360CD;
    cursor: pointer;
    transition: 0.3s;
}

.search-bar__submit-icon{
    position: absolute;
    top:33%;
    left:35%;
    width: 1.8rem;
    height: 1.8rem;
}

.search-bar__button--erase{
    flex-shrink: 2;
    position: relative;
    min-width: 4rem;
    min-height: 4rem;
    background-color: #5360CD;
    border: none;
    cursor: pointer;
    outline: 0;
    border: 0;
}

.search-bar__button--erase::before, .search-bar__button--erase::after{
    content:'';
    position: absolute;
    top:50%;
    left:33%;
    width: 30%;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg);
    transition: 0.3s;
}

.search-bar__button--erase::after{
    transform: rotate(-45deg);
}
