@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

*{
user-select:none;
outline:0;
}

.wrapper{
    background-color: #F3F3F3;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper[data-theme='dark']{
    background-color: #313037;
}

.wrapper:has(.main--homepage) {
    background-color: #2231AA;
    overflow: hidden;
}

.wrapper:has(.main--homepage){
height: calc(100vh - 5.25rem - 1px);
}

.wrapper:has(.main--homepage) .main-footer{
    display:none;
}

.page-container{
    width: 100%;
    max-width: 1170px;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.page-container[data-theme='dark'] p,
.page-container[data-theme='dark'] h2,
.page-container[data-theme='dark'] h1,
.page-container[data-theme='dark'] span,
.page-container[data-theme='dark'] li,
.page-container[data-theme='dark'] a,
.page-container[data-theme='dark'] label{
    color: #fff;
}

.main{
    width: 100%;
    flex-grow: 1;
    padding: 4.5rem 0;
    display: flex;
    flex-direction: column;
    gap:4em;
}
.main--homepage{
    gap:2rem;
}

.title-wrapper{
    width: 100%;
}

.back-home-link, .link{
    font-family: inter;
    text-decoration: none;
    color:#313037;
    transition: 0.3s;
}

.link{
    color: #949ce7;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: underline;
}

.back-home-link:hover, .link:hover{
    color:#5360CD;
}

.page-container[data-theme='dark'] .back-home-link{
    color:#8D8E97;
}

.page-container[data-theme='dark'] .back-home-link:hover{
    color:#5360CD;
}

.page-title{
    padding-top:2rem;
    font-size: 3.5rem;
    font-weight: 700;
    font-family: inter;
    color: #313037;
}

.page-container[data-theme='dark'] .page-titler{
    color:#FFF;
}

@media (max-width:768px){
    .title-wrapper{
       padding: 0;
    }
    .page-title{
        font-size: 2rem;
        padding: 0.5rem 0;
    }
    .main{
        gap:2rem;
        padding: 2rem 0;
    }
}