.textarea-container{
    width: 100%;

}

.textarea{
    resize: none;
    border: 1px solid #d3d3d3;
    outline: 0;
    font-size: 1.2rem;
    padding:1rem;
    font-family: Inter, Arial, Helvetica, sans-serif;

}

.textarea::placeholder{
    font-size: 1rem;
    font-weight: 400;
    color: #8D8E97;
}

.textarea:focus{
    border: 1px solid #222;
}

.textarea__label{
    padding: 0.3rem 0;
    font-size: 1rem;
    font-weight: 600;
}