.info-form{
    list-style-type: none;
    font-family: Inter;
    flex-grow: 1;
    width: 100%;
    max-width: 39rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid #DADADA;
    padding: 2.5rem;
}

.form-text{
    width: 70%;
    font-size: 1rem;
    line-height: 1.6em;
    text-align: left;
    color:#313037;
    padding-bottom: 2.5rem;
}

@media(max-width:768px){
    .info-form{
        padding: 1.5rem;
    }
}
