.profile{
    display:flex;
    flex-direction:column;
    gap:3rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.profile__title{
    text-align: center;
    padding-bottom: 3rem;
}

span{
    color:#2231AA;
    padding-left: 1rem;
}

.ok-button{
    margin: 3rem auto 0 auto;
    text-align: center;
    background-color: #2231AA;
    color:#fff;
    padding:1rem;
    width: 14rem;
    transition: 0.3s;
    cursor:pointer;
}
.ok-button:hover{
    background-color: #5360CD;

}