*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.burger-menu{
    position: relative;
    display: inline-block;
}

.burger{
    position: relative;
	background-color:  #2231AA;
	min-width: 5.25rem;
    min-height: 5.25rem;
	transition: 0.3s;
	cursor: pointer;
}

.burger__stripe1, .burger__stripe2, .burger__stripe3{
	position: absolute;
	z-index: 20;
	top:60%;
	left:37%;
	width: 1.3rem;
	height: 2px;
    border-radius: 2px;
	background-color:#fff;
	transition: 0.3s;
}

.burger__stripe2{
	top:50%;
}

.burger__stripe3{
	top:40%;
}

.burger[data-active='true'] .burger__stripe1{
	transform: rotate(-45deg);
	top:50%;
}

.burger[data-active='true'] .burger__stripe2 {
	opacity: 0;
    width: 0;
}

.burger[data-active='true'] .burger__stripe3 {
	transform: rotate(45deg);
	top:50%;
}

.menu{
    width:max-content;
    position: absolute;
    left:-1px;
    top: 100%;
    z-index: 100;
    list-style-type: none;
    transition: 0.3s;
    font-family: Inter, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5.5rem);
    border-top: 1px solid #5360CD;
}
.menu[data-authorize='false']{
    width: 25vw;
    min-width: 18rem;
}

@media(max-width:500px){
    .menu, .menu[data-authorize='false']{
        width: 100vw;
    }
    /* .menu__item:first-child{
        background-color: #2231AA;
    } */
}

.menu__item{
    height: 5.25rem;
    background-color: #fff;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 1px solid #E8E8E8;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.menu__item--divider{
    flex-grow: 1;
    border: none;
}

.menu[data-visible='false']{
    height:0px;
    opacity: 0;
    z-index: -100;
}

.menu__link{
    text-decoration: none;
    color:#313037;
}

.menu__item:hover .menu__link{
    color:#2231AA;
}

.mode-checker{
    width: 100%;
    display: flex;
}

.mode-checker__button{
    flex-grow: 1;
    align-self: stretch;
    border: none;
    border-top: 1px solid #E8E8E8;
    border-right: 1px solid #E8E8E8;
    background-color: transparent;
    cursor: pointer;
}

.mode-checker__button-icon{
    opacity: 0.5;
    transition: 0.3s;
}

.mode-checker__button:hover .mode-checker__button-icon,
.mode-checker__button:first-child[data-theme='light'] .mode-checker__button-icon,
.mode-checker__button:last-child[data-theme='dark'] .mode-checker__button-icon{
    opacity: 1;
}

.log-button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #E8E8E8;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#313037;

}

.log-button:hover{
    background-color: #DADADA;
}