*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.burger-menu{
    position: relative;
    display: inline-block;
}

.burger{
    position: relative;
	background-color: blue;
	min-width: 4rem;
    min-height: 4rem;
	transition: 0.3s;
}

.burger__stripe1, .burger__stripe2, .burger__stripe3{
	position: absolute;
	z-index: 20;
	top:57%;
	left:33.3%;
	width: 33.3%;
	height: 4%;
	background-color:#fff;
	transition: 0.3s;
}

.burger__stripe2{
	top:45%;
}

.burger__stripe3{
	top:35%;
}

.burger:hover{
	cursor: pointer;
    background-color: rgba(0,0,255,0.7);
}

.burger[data-active='true'] .burger__stripe1{
	transform: rotate(-45deg);
	top:45%;
}

.burger[data-active='true'] .burger__stripe2 {
	opacity: 0;
    width: 0;
}

.burger[data-active='true'] .burger__stripe3 {
	transform: rotate(45deg);
	top:45%;
}

.menu{
    position: absolute;
    left:0;
    top:calc(100% + 2px);
    list-style-type: none;
    transition: 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

.menu__item{
    padding:0 3rem;
    height: 5rem;
    background-color: rgba(151, 151, 250);
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    border-bottom: 1px solid #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu[data-visible='false'] .menu__item{
    height:0px;
    opacity: 0;
}

.menu__item:hover{
    background-color: rgb(16, 16, 253);
    color:#fff;
}

.menu__link{
    text-decoration: none;
    color:rgb(15, 15, 15);
}

.menu__item:hover .menu__link{
    color:#fff;
}
