.user-avatar{
    display: inline-flex;
    height: 4rem;
    padding: 0 1rem;
    gap:1rem;
    align-items: center;
}

.user-avatar__short-name{
    background-color: #798de2;
    padding: 0.5rem;
}